body {
	min-width: 1200px;
	margin: 0;
	padding: 0;

    font-size: 14px;
    line-height: 26px;
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: normal;
    color: #000000;
    text-transform: uppercase;
    text-align: center;

    background-color: #f2f2f2;
}
.button {
	display: inline-block;
	padding: 32px 140px;
	font-size: 21px;
	font-weight: bold;
	text-transform: uppercase;

	text-align: center;
	color: #ffffff;
	vertical-align: middle;

	border: none;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border:0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
	width: 1200px;
	margin: 0 auto;
	box-shadow: 0 0 25px -5px rgba(0,0,0,.5);
}
.shadow {
	box-shadow: 0 0 25px -5px rgba(0,0,0,.5);
}
.main-navigator {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	
	padding: 15px 6%;
	font-weight: bold;

	background-color: #ffffff;
}
.main-header {
	position: relative;
}
.main-header-logo {
	position: absolute;

	top: -0px;
	right: 530px;

	width: 138px;
	height: 70px;

	margin-left: -70px;
}
.site-navigator {
	display: flex;
	flex-wrap: wrap;

	margin: 0;
	padding: 0;
	
	list-style: none;
}
.site-navigator a {	
	color: #000000;
}
.site-navigator li {
	width: 20%;
}
.site-navigator li:nth-child(2) {
    padding-left: 30px;
}
.site-navigator li:nth-child(3) {
	margin-left: 14.1%;
    padding-right: 32px;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
}
.site-navigator a:hover, 
.site-navigator a:focus {
	color:#81b3d2;
}
.site-navigator a:active {
	color: rgba(0,0,0, 0.3); 
}
.site-navigator-current {
	color: #766357;
}
.welcome-block {
	max-height: 509px;
}
.description {
	padding: 60px 350px 50px 350px;
	background-color: #ffffff;
}
.description h2 {
	margin: 0;
	padding: 0;
	padding-bottom: 30px;

	font-size: 21px;
}
.description p {
	margin: 0;
	padding: 0;
}
.flex-container {
	display: flex;
	margin: 0;
	padding: 0;
}
.promo-description {
	padding: 0;
	margin: 0;

	width: 400px;
	height: 256px;

	background-color: #81b3d2;
}
.promo-description h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: normal;

	margin: 0;
	padding: 45px 0 25px 0;

	text-align: center;
	color: #ffffff;
}
.promo-description span {
	padding-bottom: 25px;
}
.promo-description span,
.promo-description p{
	color: #ffffff;
	line-height: 21px;
	font-weight: normal;
}
.promo a {
	width: 800px;
	height: 256px;
}
.features {
	margin: 0;
	padding: 0;
	background-color: #ffffff;
}
.feature-list {
	display: flex;
	justify-content: space-around;
	align-content: center;
	align-items: baseline;

	margin: 0;
	padding: 0;
	padding-bottom: 80px;
	padding-top: 55px;

	list-style: none;
}
.features-item {
	width: 33.3%;
	padding: 0 55px;

	text-align: center;
}
.features-item h3{
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;

	padding: 0;
}
.features-item p{
	line-height: 21px;
	text-align: center;

	max-width: 287px;
	margin: 0 auto;
}
.promo-short {
	background-color: #eeeeee;
}
.promo-list {
	display: flex;
	justify-content: space-around;

	margin: 0;
	padding: 0;

	list-style: none;
}
.promo-item {
	width: 33.3%;
	padding: 48px 65px 58px 65px;

	text-align:center;
}
.promo-item h3{
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;

	margin: 0;
	padding: 0;
}
.promo-item span {
	display: block;

	margin: 0;
	padding: 20px 0;
}
.promo-item p{
	margin: 0;
	padding: 0;

	line-height: 21px;
}
.appointment {
	background-color: #ffffff;
}
.appointment .interest {
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;

	margin: 0;
	padding: 50px 0 25px 0;
}
.appointment .choise {
	line-height: 24px;

	margin: 0 auto;
	margin-bottom: 45px;
	padding: 0;
	
	max-width: 500px;
}
.container-inner {
	padding: 0 70px;
}
.filters {
	padding-top: 10px;
	padding-bottom: 10px;

	background-image: url("../img/back-hotel.jpg");
	background-position: 0 0;
	background-repeat: no-repeat;
}
.filer {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}
.filters-check {
	display: flex;
}
.filters-check1 {
	margin-right: 115px;
} 
.filters-check2 {
	margin-right: 330px;
}
.filters fieldset {
	text-align: left;

	padding: 0;
	border: none;
}
.filters legend {
	font-size: 16px;
	line-height: 21px;
	font-weight: bold;

	padding-bottom: 6px;
	padding-top: 17px;

	color: #ffffff;
}
.filters ul {
	margin: 0;
	padding: 0;

	list-style: none;
	line-height: 21px;
}
.filters-variety1 {
	width: 330px;
}
.filters-title {
	font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    text-align: left;

    margin-bottom: 9px;
    
    color: #ffffff;
}
.price-controls {
	position: relative;

	height: 36px;
	margin-bottom: 20px;

	font-size: 0;

	border: 2px solid #ffffff;
	border-radius: 2px;
}
.price-controls::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 22px;
	background-color: #ffffff;
	transform: translate(-50%, -50%);

}
.price-controls label {
	display: inline-block;

	font-size: 14px;
	line-height: 38px;
	vertical-align: top;
	
	color: #ffffff;
	cursor: pointer;
}
.price-controls .min-price,
.price-controls .max-price {
	width: 90px;
	padding-left: 65px;
}
.price-controls input {
	width: 50px;
	margin: 0;

	color: inherit;
	font:inherit;
	background: none;
	border: none;
	outline: none;
}
.range-controls {
	position: relative;

	margin-bottom: 32px;
}
.range-controls .scale {
	height: 2px;
	background-color: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
	width: 80%;
	height: 2px;
	background-color: #ffffff;
}
.range-toggle {
	position: absolute;
	top: -9px;

	width: 4px;
	height: 4px;

	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0,1,1,0.2);
	cursor: pointer;
	background-color: #ababab;
	border: 8px solid #ffffff;
}
.range-toggle:hover {
	background-color: #1c4f80;
}
.range-toggle-min {
	left: 0;
}
.range-toggle-max {
	left: 80%;
}
.search-label {
	display: block;
	color: #ffffff;
	position: relative;
	cursor: pointer;
	padding-left: 40px;
	margin: 20px 0 24px 0;
}
.search-label input[type="checkbox"] + .checkbox-indicator {
	position: absolute;
	top: 0;
	left: 0;

	width: 25px;
	height: 23px;

	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}
.search-label input[type="checkbox"]:checked + .checkbox-indicator {
	background-image: url("../img/checkbox-on.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}
.search-label input[type="checkbox"]:disabled + .checkbox-indicator {
	background-image: url("../img/checkbox-on-dis.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}
.filter-button {
	display: block;
	margin: 0 auto;
	padding: 6px 35px;

	font-size: 14px;
	line-height: 20px;
	color: #ffffff;

	background-color: transparent;
	border:2px solid #ffffff;
	border-radius: 2px;
	outline: none;
	cursor: pointer;
}
.filter-button:focus,
.filter-button:hover {
	color: #000000;
	background-color: #ffffff;
}
.filters-columns {
	display: flex;
	justify-content: flex-start;
}
.found {
	position: relative;

	display: flex;
	margin: 0;
	padding: 30px 70px;
	background-color: #fefefe;

	border-bottom: 1px solid #e5e5e5;
}
.found p {
	text-align: center;
	vertical-align: middle;
	font-size: 21px;
	font-weight: bold;

	margin: 0;
	padding-right: 40px;
}
.found .sort {
	font-size: 12px;
	line-height: 18px;

	padding: 5px 35px 0 10px;
}
.found-title {
	display: flex;
	margin: 0;
	padding: 0;

	list-style: none;
}
.found-title a {
	font-size: 12px;
	line-height: 18px;
	text-decoration: none;

	margin-right: 28px;
    margin-left: 5px;
	
	color: rgba(0, 0, 0, 0.3);
	border-bottom: 1px dashed #81b3d2;
}
.found-title-current a{
	color: #81b3d2;
	border: none;
}
.found-title a:active {
	color: #000000;
	border: none;
}
.found-title a:hover,
.found-title a:focus {
	color: #81b3d2;
} 
.down-up {
	position: absolute;
	right: 6%;
}
.up {
	margin-right: 10px;
}
.down-up path {
	fill: #cacaca;
}
/*.down:focus path,
.down:hover path,*/
.up:focus path,
.up:hover path {
	fill: #000000;
}
.down:active path,
.found-active path, 
.up:active path {
	fill: #81b3d2;
}
.result {
	display: flex;
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #fefefe;
}
.result-list {
	margin: 0;
	padding: 0;
	
	list-style: none;
}
.result-item {
	display: flex;
	padding: 25px 70px 23px 70px;
	border-bottom: 1px solid #e5e5e5;
}
.result-item img {
	margin: 0;
	margin-top: 4px;

	width: 137px;
	height: 90px;
}
.result-search {
	margin-left: 30px;
}
.result-search h2 {
	font-size: 21px;
	text-align: left;

	padding: 0;
	margin: 0;
	
	color: #000000;
}
.result-search p {
	display: inline-block;
	margin-top: 3px;
	margin-bottom: 12px;
	
	width: 110px;
	
	text-align: left;
	vertical-align: top;
	
	color: #666666;
}
.result-search .result-p {
	margin-right: 30px;
}
.button-more-info {
	display: inline-block;
	padding: 3px 16px;

	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
	color: #ffffff;

	vertical-align: middle;
	background-color: #81b3d2;
}
.button-reserv {
	display: inline-block;
	padding: 3px 17px;
	
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;

	color: #ffffff;
	text-align:center;
	vertical-align: middle;

	background-color: #766357;
}
.result-rate {
	display: block;
	max-width: 138px;
    margin-left: 525px;
}
.result-rate img {
	float: right;
}
.result-rate .img1{
	width: 89px;
	height: 17px;
}
.result-rate .img2{
	width: 65px;
	height: 17px;
}
.result-rate .img3{
	width: 41px;
	height: 17px;
}
.hotel-rate {
	margin: 0;
	margin-top: 63px;
	padding: 3px 13px;

	color: #666666;
	text-align:center;
	vertical-align: middle;
	background-color: #f2f2f2;
}
.appointment-item {
	position: relative;
}
.appointment .button {
	background-color: #766357;
}
.appointment .button:focus,
.appointment .button:hover {
	background-color: #604e43;
}
.appointment .button:active {
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3);
}
@keyframes leaving {
	0% {top:-45px; }
	60%{top:0; }
	100%{top:-480px; }
}
@keyframes popuping {
	0% {
		top:-480px; } 
	70% {
		top:0; }
	100% {
		top:-45px; 
		display: none;}
}
.modal-disactive  {
	animation-name: leaving;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}
.modal-active {
	display: block;
	animation-name: popuping;
	animation-duration: 0.7s;
	animation-timing-function: ease-in-out;
}
.modal {
	position: absolute;
	z-index: 10;
	width: 570px;
	left: 315px;
	background-color: #ffffff;
}
.modal-choose {
	padding: 55px;
} 
.modal input::placeholder {
	display: inline-block;
	color: #000000;
	font-size: 14px;
	line-height: 26px;
}
.modal label {
	font-weight: bold;
	font-size: 14px;
	line-height: 26px;
	text-align: left;
	vertical-align: middle;
}
.modal .count-people {
	background-color: #f2f2f2;
	border: none;
	font-weight: bold;
	display: inline-block;
	height: 40px;
}
.modal input[type="text"] {
	display: inline-block;

	font-size: 14px;
	line-height: 26px;
	color: #000000;
	text-transform: uppercase;
	font-weight: bold; 

	width: 280px;
	padding: 7px 50px 7px 15px;
	margin: 0 0 25px 19px;

	background-color: #f2f2f2;
	border: none;
}
.count {
	display: inline-block;
	
	font-size: 24px;
	color: #a9a9a9;
	vertical-align: middle;

	width: 20px;
	padding: 7px;
	height: 26px;
	
	border: none;
	background-color: #f2f2f2;

	box-sizing: content-box;

}
.count:focus,
.count:hover {
	color: #000000;
	background-color: #ebebeb;
}
.count:active {
	color: #81b3d2;
	background-color: #ffffff;
}
.count-people input[type="text"] {
	width: 20px;
	height: 26px;
	padding: 7px 7px;
	vertical-align: middle;
	text-align: center;
	margin: 0;
}
.center {
	margin-left: 37px;
	margin-right: 55px;
	margin-top: 3px;
}
.center1 {
	margin-left: 26px;
	margin-top: 3px;
}
.modal input:hover {
	background-color: #ebebeb;
}
.modal input:focus {
	background-color: #ffffff;
}
.modal .button {
	display: inline-block;
	padding: 17px 195px;
	background-color: #81b3d2;
	margin-bottom: 55px;
}
.modal .button:focus,
.modal .button:hover {
	background-color: #669ec0;
}
.modal .button:active {
	color: rgba(255,255,255,0.3);
	background-color: #5496bd;
}
.date {
	position: absolute;

	top: 9px;
	right: 10px;
	width: 21px;
	height: 22px;
}
.date path {
	fill: #cacaca;
}
.date:focus path,
.date:hover path {
	fill: rgb(0, 0, 0);
}
.date:active path {
	fill: #81b3d2;
}
.main-footer {
	position: relative;
	padding-top: 25px;
	padding-bottom: 30px;

	display: flex;
	align-items: center;
	justify-content: space-around;

	color: #ffffff;
	background-color: rgba(255, 255, 255, 0.9);
}
.main-footer p {
	font-size: 21px;
	font-weight: bold;
	text-align: left;
	color: #000000;

	width: 360px;

	margin: 0;
	padding: 0;
	padding-left: 115px;
}
.main-footer span {
	display: inline-block;
	vertical-align: top;

	margin: 0;
	padding: 20px 10px 0 0;
	
	color: #000000;
}
.social-btn {
	margin: 0;
	width: 155px;

	text-align: center;
}
.social-btn ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 151px;
	margin: 0 auto;
	padding: 0;

	list-style: none;
}
.social-button {
	display: flex;
	align-items: center;
	align-items: center;
	justify-content: center;
	width: 46px;
	height:  46px;

    color: #ffffff;
    background-color: #81b3d2;
}
.social-button:hover,
.social-button:focus {
    background-color: #669ec0;
}
.social-button:active {
    background-color: #5496bd;
}
.social-button:active path {
    fill: #88b6d1;
}
.main-footer .footer-copyright {
	color: #000000;
	font: inherit;
	font-weight: normal;
    text-align: center;
}
.footer-copyright svg {
	padding-top: 15px;
	padding-right: 8px;
	width: 115px;
	height: 40px;
}
.span-footer {
	vertical-align: middle;
}
.logo-html:hover path,
.logo-html:focus path {
    fill: #81b3d2;
} 
.logo-html:active path{
    fill: #bdbbbc;
}
.map img {
	width: 1200px;
	height: 593px;
}
.map {
	position: relative;
	z-index: 10;
	overflow: hidden;
	height: 475px;
}
.map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  margin: 0;
}

.map iframe {
  position: relative;
  z-index: 2;

  border: none;
}