body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 17px;
  line-height: 24px;
  background-color: #ffffff; }

a {
  text-decoration: none;
  color: #000000; }

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto; }

.button {
  display: block;
  padding: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #444444;
  font-weight: 700;
  line-height: 20px;
  border: 2px solid #444444; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.wrapper {
  width: 320px;
  margin: 0 auto; }

.page-header {
  width: 320px;
  margin: 0 auto;
  border-bottom: 1px solid #ececec; }

.main-nav {
  position: relative;
  width: auto; }

.main-nav__logo {
  display: block;
  margin: 22px 0 22px;
  text-align: center; }

.main-nav__logo:hover,
.main-nav__logo:focus {
  opacity: 0.6; }

.main-nav__logo:active {
  opacity: 0.3; }

.main-nav__toggle {
  position: absolute;
  top: 2px;
  right: 27px;
  display: block;
  width: 22px;
  height: 24px;
  background-color: transparent;
  cursor: pointer;
  border: none; }

.main-nav--close .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 14px 0 0 #000000; }

.main-nav--open .main-nav__toggle::before,
.main-nav--open .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 15px;
  left: -2px;
  width: 26px;
  height: 2px;
  background-color: #000000; }

.main-nav--open .main-nav__toggle::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  box-shadow: none; }

.main-nav--open .main-nav__toggle::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.main-nav--opened {
  display: block; }

.main-nav--closed {
  display: none; }

.site-list, .search-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.site-list__item,
.search-list__item {
  text-align: left;
  padding: 27px 30px 27px 75px;
  border-top: 1px solid #ececec; }

.site-list__item a:hover,
.site-list__item a:focus,
.search-list__item a:hover,
.search-list__item a:focus {
  opacity: 0.6; }

.site-list__item a:active,
.search-list__item a:active {
  opacity: 0.3; }

.search-list__item {
  position: relative; }

.search-list__icon svg {
  position: absolute;
  top: 30px;
  left: 30px; }

.search-list__icon:hover svg path {
  fill: #63d1bb; }

.site-list__item--hidden {
  display: none; }

@media (min-width: 768px) {
  .main-nav--close .main-nav__wrapper {
    display: flex; }
  .main-nav--open .main-nav__wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .wrapper {
    width: 570px;
    margin: 0 auto; }
  .page-header {
    width: 768px;
    margin: 0 auto; }
  .page-header__wrapper {
    padding: 0 50px; }
  .main-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .main-nav__wrapper {
    flex-direction: column;
    position: relative; }
  .main-nav__toggle {
    display: none; }
  .tablet-only {
    display: none; }
  .site-list {
    display: flex;
    flex-wrap: wrap;
    order: 2;
    z-index: 100;
    font-size: 15px;
    position: absolute;
    top: 90px;
    left: 0px; }
  .site-list__item {
    padding: 15px 35px 0 0; }
  .search-list {
    display: flex; }
  .site-list__item, .search-list__item {
    border: none; }
  .search-list__item {
    padding: 31px 2px 0 80px;
    min-height: 58px; }
  .site-list__item--bonus {
    display: block;
    font-size: 15px;
    font-weight: 400;
    position: absolute;
    top: 90px;
    right: 0px;
    padding-top: 15px;
    z-index: 100; }
  .search {
    border-right: 1px solid #ececec;
    border-left: 1px solid #ececec; }
  .search-list__icon svg {
    position: absolute;
    top: 37px;
    left: 32px; } }

@media (min-width: 1150px) {
  .page-header {
    width: auto;
    margin: 0;
    max-height: 87px; }
  .page-header__wrapper {
    width: 1050px;
    margin: 0 auto; }
  .main-nav__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row; }
  .main-nav__logo {
    position: absolute;
    top: 0;
    left: 451px;
    margin-top: 8px; }
  .site-list {
    width: 50%;
    justify-content: flex-start;
    font-size: 17px;
    position: static;
    order: 1; }
  .site-list__item {
    position: relative;
    padding: 30px 72px 0 0; }
  .site-list__item--hidden {
    font-size: 15px;
    display: block;
    padding: 50px 64px 0px 0px; }
  .search-list {
    width: 50%;
    justify-content: flex-end;
    order: 2; }
  .site-list__item:nth-child(1)::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 87px;
    right: 35px;
    top: 0;
    background-color: #ececec; }
  .site-list__item--bonus {
    right: -65px;
    padding-top: 15px; } }

.products {
  width: 320px;
  min-height: 265px;
  margin: 0 auto;
  background-color: #f9f9f9;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top; }

@media (-webkit-min-device-pixel-ratio: 1.5) and (max-width: 767px), (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), (max-width: 767px) and (min-resolution: 144dpi), (max-width: 767px) and (min-resolution: 1.5dppx) {
  .products {
    background-image: url(../img/hero-mobile@2x.jpg);
    background-size: auto 373px; } }

.products__title {
  margin: 0;
  padding: 70px 38px 0 38px;
  min-height: 212px;
  font-size: 27px;
  line-height: 30px;
  text-align: center; }

.products__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.products__item {
  position: relative;
  background-color: #63d1bb; }

.products__item:hover,
.products__item:focus {
  background-color: #59d5bc; }

.products__item:nth-child(2n) {
  background-color: #56c3b2; }

.products__item:hover:nth-child(2n),
.products__item:focus:nth-child(2n) {
  background-color: #46c1ae; }

.products__desk {
  display: block;
  width: 130px;
  padding: 25px 95px 30px 30px;
  font-size: 19px;
  color: #ffffff; }

.products__desk:active {
  opacity: 0.3; }

.products__desk svg {
  position: absolute;
  top: 22px;
  right: 27px;
  opacity: 0.5; }

.products__desk:hover svg path,
.products__desk:focus svg path {
  opacity: 0.7; }

@media (min-width: 768px) {
  .mobile-only {
    display: none; }
  .products {
    position: relative;
    width: auto;
    margin: 0;
    background-color: #f9f9f9;
    background-image: url("../img/hero-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center top; }
  .products::before {
    position: absolute;
    content: "";
    left: -7px;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    z-index: 10;
    height: 10px;
    background-size: 20px 20px;
    background-image: radial-gradient(circle at 10px -5px, transparent 12px, #fff 13px); }
  .products::after {
    position: absolute;
    content: "";
    left: -7px;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    z-index: 20;
    height: 15px;
    background-size: 40px 20px;
    background-image: radial-gradient(circle at 10px 15px, #fff 12px, transparent 13px); }
  .products__wrapper {
    width: 668px;
    padding: 0 50px;
    margin: 0 auto; } }

@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5) and (max-width: 767px), (min-width: 768px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (max-width: 767px) and (min-resolution: 144dpi), (min-width: 768px) and (max-width: 767px) and (min-resolution: 1.5dppx) {
  .products {
    background-image: url(../img/hero-desktop@2x.jpg);
    background-size: auto 740px; } }

@media (min-width: 768px) {
  .products__title {
    font-size: 43px;
    line-height: 50px;
    padding-top: 152px;
    min-height: 474px; }
  .products__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .products__item {
    width: 50%; }
  .products__desk {
    font-size: 20px;
    line-height: 30px;
    padding: 28px 90px 30px 36px; } }

@media (min-width: 1150px) {
  .products {
    width: auto;
    margin: 0; }
  .products__wrapper {
    width: 1050px; }
  .products__title {
    font-size: 53px;
    line-height: 57px;
    width: 640px;
    margin: 0 auto; }
  .products__desk svg {
    top: 28px;
    right: 28px; } }

.top-product {
  position: relative;
  width: 320px;
  margin: 0 auto; }

.top-product::after {
  position: absolute;
  content: "";
  background-image: url(../img/bg-zigzag-line.svg);
  background-repeat: repeat-x;
  background-position: 0 0;
  background-size: auto 6px;
  width: 320px;
  height: 10px; }

.top-product__wrapper {
  margin: 0 30px; }

.top-product__title {
  margin-top: 27px;
  margin-bottom: 6px;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.9px; }

.top-product__top {
  margin: 0;
  text-transform: uppercase;
  line-height: 20px;
  color: #63d1bb; }

.top-product__desk {
  margin-top: 22px;
  margin-bottom: 16px; }

.top-product__table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 27px; }

.top-product__desk,
.top-product__value,
.top-product__field {
  font-size: 15px;
  color: #444444;
  font-weight: 400; }

.top-product__value,
.top-product__field {
  text-align: left;
  line-height: 20px;
  padding: 10px 0;
  border-bottom: 1px solid #ececec;
  vertical-align: top; }

.top-product__value {
  width: 95px; }

.top-product__price {
  padding-top: 18px;
  padding-bottom: 35px; }

.top-product__price p {
  margin: 0;
  margin-bottom: 25px;
  text-align: center;
  color: #444444; }

.top-product__button:hover,
.top-product__button:focus {
  background-color: #444444;
  color: #ffffff; }

.top-product__button:active {
  background-color: #444444;
  color: rgba(255, 255, 255, 0.3); }

@media (min-width: 768px) {
  .top-product {
    width: 768px;
    margin: 0 auto; }
  .top-product::after {
    width: 768px;
    height: 17px;
    background-size: auto 15px; }
  .top-product__wrapper {
    margin: 0 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .tablet {
    width: 44%;
    padding-right: 6%; }
  .top-product__title {
    font-size: 43px;
    line-height: 50px;
    margin-top: 47px;
    margin-bottom: 50px; }
  .top-product__top {
    font-size: 17px;
    line-height: 17px;
    width: 120px;
    margin-top: 58px;
    text-align: center; }
  .top-product__desk {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 35px;
    margin-top: 0; }
  .top-product__value {
    width: 100px; }
  .top-product__value, .top-product__field {
    padding: 10px 0 9px; }
  .top-product__price {
    width: 293px;
    margin-top: -127px;
    padding-bottom: 54px; }
  .top-product__price p {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 34px; } }

@media (min-width: 1150px) {
  .top-product {
    width: 1150px;
    margin: 0 auto; }
  .top-product__wrapper {
    width: 1050px; }
  .top-product__title {
    font-size: 53px;
    line-height: 57px;
    z-index: 10;
    padding-left: 171px;
    margin-top: 124px; }
  .tablet {
    width: 28%;
    padding-left: 177px;
    padding-right: 0; }
  .top-product__desk {
    margin-bottom: 49px; }
  .top-product__price {
    padding-top: 13px;
    padding-left: 176px;
    padding-bottom: 90px; }
    .top-product-image {
      margin-top: -157px;
    }
  .top-product__top {
    position: absolute;
    top: 80px;
    left: 73px; }
  .top-product::before {
    position: absolute;
    content: "";
    width: 1150px;
    left: -7px;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    z-index: 10;
    height: 12px;
    background: radial-gradient(24px, transparent, transparent 13px, #f1f1f1 14px, #f1f1f1 21px, transparent 22px);
    background-size: 54px 43px;
    background-position-x: 27px; }
  .top-product::after {
    position: absolute;
    content: "";
    width: 1150px;
    left: -7px;
    bottom: -10px;
    right: 0;
    background-repeat: repeat;
    z-index: 20;
    height: 12px;
    background: radial-gradient(24px, transparent, transparent 13px, #f1f1f1 14px, #f1f1f1 21px, transparent 22px);
    background-size: 54px 48px;
    background-position-y: -33px; } }

.about {
  width: 320px;
  margin: 0 auto; }

.about__wrapper {
  margin: 0 30px; }

.about__title {
  margin: 0;
  margin-top: 33px;
  margin-bottom: 32px;
  font-size: 25px;
  line-height: 30px; }

.about__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.about__item {
  position: relative;
  padding: 55px 0 28px; }

.about__item__title {
  margin: 0;
  line-height: 20px; }

.about__item svg {
  position: absolute;
  top: 0; }

.item-1 svg {
  left: 6px; }

.item-3 svg {
  top: 3px;
  left: 8px; }

.item-4 svg {
  top: 3px;
  left: 5px; }

.item-6 svg {
  left: 4px; }

@media (min-width: 768px) {
  .about {
    width: 768px;
    margin: 0 auto; }
  .about__wrapper {
    margin: 0 50px; }
  .about__title {
    font-size: 43px;
    line-height: 50px;
    margin-top: 64px;
    margin-bottom: 47px; }
  .about__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;}
  .about__item {
    width: 50%;
    padding-bottom: 57px; }
  .about__item__title {
    font-size: 20px;
    line-height: 22px; } }

@media (min-width: 1150px) {
  .about {
    width: 1150px; }
  .about__wrapper {
    padding-left: 175px;
    margin: 0 50px; }
  .about__title {
    font-size: 53px;
    line-height: 57px; }
  .about__list {
    width: 700px; } }

.reviews {
  width: 320px;
  margin: 0 auto; }

.reviews__wrapper {
  position: relative;
  margin: 0 30px;
  padding-bottom: 45px; }

.reviews_title {
  margin-top: 27px;
  margin-bottom: 25px;
  font-size: 25px;
  line-height: 30px; }

.reviews__list {
  display: none; }

.reviews__list--show {
  display: block; }

.reviews__item {
  margin: 0; }

.reviews__desk {
  margin: 0;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: #444444; }

.reviews__mail {
  line-height: 30px;
  font-weight: 400; }

.reviews__author {
  display: block;
  margin: 27px 0 3px 0; }

.reviews__author,
.reviews__mail {
  font-style: normal; }

.review__slider {
  display: flex;
  justify-content: space-between;
  margin-top: 29px;
  margin-bottom: 38px; }

.slider__button {
  width: 50%;
  height: 50px;
  border: 1px solid #ececec; }

.slider__button--prev {
  background: url("../img/huge-arrow-left@1x.svg") no-repeat;
  background-position: center; }

.slider__button--next {
  background: url("../img/huge-arrow-right@1x.svg") no-repeat;
  background-position: center; }

.slider__button:focus,
.slider__button:hover {
  opacity: 0.6; }

.slider__button:active {
  opacity: 0.3; }

.reviews::after {
  position: absolute;
  content: "";
  background-image: url(../img/bg-zigzag-line.svg);
  background-repeat: repeat-x;
  background-position: 0 0;
  background-size: auto 6px;
  width: 320px;
  height: 10px; }

@media (min-width: 768px) {
  .reviews {
    width: 768px; }
  .reviews::after {
    width: 768px;
    height: 17px;
    background-size: auto 15px; }
  .reviews__wrapper {
    position: relative;
    margin: 0;
    margin-top: 26px;
    margin-bottom: 70px;
    padding: 0 50px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    min-height: 456px; }
  .reviews_title {
    font-size: 43px;
    line-height: 50px;
    margin: 0;
    padding-bottom: 51px;
    padding-top: 75px; }
  .reviews__desk {
    font-size: 17px; }
  .reviews__author {
    font-size: 18px;
    line-height: 24px;
    margin-top: 57px; }
  .reviews__button {
    position: absolute;
    top: 79px;
    right: 50px;
    width: 140px; }
  .review__slider {
    width: 170px;
    margin: 0;
    position: absolute;
    bottom: 50px;
    right: 52px; }
  .slider__button {
    border: none; } }

@media (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 768px), (min-resolution: 144dpi) and (min-width: 768px), (min-resolution: 1.5dppx) and (min-width: 768px) {
  .reviews__wrapper {
    background-image: url("../img/review@2x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0; } }

@media (min-width: 1150px) {
  .reviews {
    width: 1150px; }
  .reviews::after {
    width: 1150px;
    height: 17px;
    background-size: auto 15px; }
  .reviews__wrapper {
    margin-top: 32px;
    background-position: 53px 0; }
  .reviews_title {
    font-size: 53px;
    line-height: 57px;
    padding-left: 175px;
    padding-top: 70px; }
  .reviews__list--show {
    padding-left: 178px; }
  .reviews__author {
    margin-top: 38px; }
  .review__slider {
    bottom: 100px; } }

.contacts {
  width: 320px;
  margin: 0 auto; }

.contacts__all {
  margin: 0 30px;
  margin-bottom: 37px; }

.contacts__title {
  margin-top: 40px;
  font-size: 18px;
  line-height: 30px; }

.contacts__info {
  display: flex;
  justify-content: space-between;
  margin-top: 28px; }

.contacts__item,
.contacts__desk {
  margin: 0;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  font-weight: 400;
  text-align: left; }

.contacts__item {
  min-width: 75px; }

.contacts__desk {
  min-width: 185px; }

.email {
  border-bottom: 1px solid #63d1bb; }

.email:hover,
.email:focus {
  color: #46c1ae;
  border-bottom: 1px solid #46c1ae; }

.email:active {
  color: #46c1ae;
  border-bottom: 1px solid #46c1ae;
  opacity: 0.3; }

.contacts__map {
  position: relative;
  height: 457px; }

.contacts__map img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 457px;
  margin: 0; }

.contacts__map iframe {
  position: relative;
  z-index: 2; }

.contacts__button {
  margin: 39px 30px; }

@media (min-width: 768px) {
  .contacts {
    width: auto;
    margin: 0 auto; }
  .contacts__all {
    position: relative;
    width: 668px;
    padding: 0 50px;
    margin: 0 auto;
    margin-bottom: 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .contacts__all::after {
    position: absolute;
    content: "";
    width: 47px;
    height: 82px;
    background-image: url("../img/icon-flag.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    top: 62px;
    right: 51px; }
  .contacts__adress {
    display: flex;
    width: 100%;
    justify-content: space-between; }
  .contacts__title {
    width: 100%;
    font-size: 43px;
    line-height: 50px;
    margin: 0;
    padding-top: 77px; }
  .contacts__info {
    margin-top: 50px;
    justify-content: flex-start;
    width: 50%; }
  .contacts__item,
  .contacts__desk {
    font-size: 17px; }
  .contacts__map {
    position: relative;
    width: 100%;
    margin: 0; }
  .contacts__map img, .contacts__map iframe {
    width: 100%;
    height: 456px;
    background-size: cover; }
  .email {
    border: none; }
  .contacts__button {
    width: 200px;
    margin: 0 auto;
    margin-top: 55px;
    margin-bottom: 57px; } }

@media (min-width: 1150px) {
  .contacts {
    width: 1150px;
    margin: 0 auto; }
  .contacts__all {
    width: 1050px;
    margin-bottom: 55px; }
  .contacts__all::after {
    top: 155px;
    left: 115px; }
  .contacts__title {
    font-size: 53px;
    line-height: 57px;
    padding-left: 175px;
    padding-top: 165px;
    padding-bottom: 21px; }
  .contacts__adress {
    padding-left: 175px;
    width: 50%;
    flex-wrap: wrap; }
  .contacts__info {
    width: auto;
    margin-top: 28px; }
  .desktop-only {
    position: relative; }
  .contacts__map {
    position: absolute;
    width: 525px;
    top: -378px;
    right: 47px; }
  .contacts__button {
    margin: 81px 57px 105px 227px; } }

.current-page {
  width: 320px;
  margin: 0 auto;
  background-color: #f1f1f1; }

.current-page__wrapper {
  padding: 71px 30px 76px; }

.current-page__title {
  font-size: 27px;
  line-height: 30px;
  margin: 0;
  text-align: center; }

@media (min-width: 768px) {
  .current-page {
    position: relative;
    width: auto;
    margin: 0; }
  .current-page::before {
    position: absolute;
    content: "";
    left: -7px;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    z-index: 10;
    height: 10px;
    background-size: 20px 20px;
    background-image: radial-gradient(circle at 10px -5px, transparent 12px, #fff 13px); }
  .current-page::after {
    position: absolute;
    content: "";
    left: -7px;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    z-index: 20;
    height: 15px;
    background-size: 40px 20px;
    background-image: radial-gradient(circle at 10px 15px, #fff 12px, transparent 13px); }
  .current-page__wrapper {
    width: 668px;
    margin: 0 auto;
    padding-top: 95px;
    padding-left: 50px;
    padding-right: 50px; }
  .current-page__title {
    font-size: 43px;
    line-height: 50px; } }

@media (min-width: 1150px) {
  .current-page__wrapper {
    width: 1050px;
    padding: 95px 50px 100px; }
  .current-page__title {
    font-size: 53px;
    line-height: 57px; } }

.catalog {
  width: 320px;
  margin: 0 auto; }

.catalog__wrapper {
  margin: 30px; }

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.catalog__item {
  margin-bottom: 30px; }

.catalog__item--2:hover,
.catalog__item--2:focus {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1); }

.catalog__item--2 {
  padding: 21px 28px 27px;
  border: 1px solid #ececec; }

.catalog__item__desk {
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  margin: 5px 0 19px; }

.catalog__item--name {
  margin: 0; }

.price {
  display: flex;
  justify-content: space-between;
  padding-top: 21px;
  border-top: 1px solid #ececec; }

.catalog__item__price {
  font-size: 15px;
  display: block; }

.catalog__item--name:hover,
.catalog__item--name:focus {
  opacity: 0.6; }

.catalog__item--name:active {
  opacity: 0.3; }

@media (min-width: 768px) {
  .catalog {
    width: 768px; }
  .catalog__wrapper {
    margin: 82px 50px 52px; }
  .catalog__item {
    display: flex;
    max-height: 333px;
    margin-bottom: 53px; }
  .catalog__item--2 {
    width: 282px;
    padding: 25px 26px 27px; }
  .catalog__item--name {
    font-size: 20px; }
  .catalog__item__desk {
    font-size: 15px; }
  .price {
    padding-left: 4px;
    padding-right: 7px;
    margin-top: 175px; }
  .price--img:hover svg path,
  .price--img:focus svg path {
    fill: #63d1bb; }
  .price--img:active svg path {
    fill: #63d1bb;
    opacity: 0.3; }
  .catalog__item__price {
    font-size: 17px;
    line-height: 24px; }
  .big {
    margin-top: 151px; } }

@media (min-width: 1150px) {
  .catalog {
    width: 1150px; }
  .catalog__wrapper {
    margin-top: 130px;
    margin-bottom: 2px; }
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .catalog__item {
    flex-direction: column;
    max-height: 658px; }
  .catalog__item--2 {
    width: auto; }
  .catalog__item__desk {
    margin-bottom: 15px; }
  .price {
    margin-top: 40px;
    padding-left: 0; }
  .big {
    margin-top: auto; } }

.process {
  width: 320px;
  margin: 0 auto; }

.process__wrapper {
  margin: 0 30px;
  padding-bottom: 32px;
  margin-bottom: 58px;
  border: 1px solid #ececec; }

.process__title {
  position: relative;
  padding: 22px 28px 25px 90px;
  margin: 0;
  font-size: 17px;
  line-height: 24px; }

.mobile-only {
  display: none; }

.process__title svg {
  position: absolute;
  top: 28px;
  left: 34px; }

.process__image {
  position: relative; }

.process--img {
  position: absolute;
  cursor: pointer;
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  left: 50%;
  top: 50%;
  width: 105px;
  height: 80px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  transition: -webkit-transform .1s;
  transition: transform .1s;
  transition: transform .1s, -webkit-transform .1s; }

.process--img:hover,
.process--img:focus {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2); }

.process--img:active {
  -webkit-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
  opacity: .6; }

.process__desk {
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  padding: 22px 34px 25px; }

.process__button {
  margin: 0 33px; 
  margin-bottom: }

.process__wrapper:hover,
.process__wrapper:focus {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1); }

@media (min-width: 768px) {
  .process {
    width: 768px; }
  .process__wrapper {
    margin: 0 50px;
    padding-bottom: 45px;
    margin-bottom: 63px;
    display: flex;
    flex-direction: column; }
  .mobile-only {
    display: block; }
  .desktop-only-1 {
    display: none; }
  .process__title {
    font-size: 20px;
    padding: 38px 30px 10px 106px; }
  .process__title svg {
    top: 33px;
    left: 42px; }
  .process__desk {
    font-size: 15px;
    line-height: 30px;
    padding: 22px 40px 35px; }
  .process__button {
    margin: 0 42px; }}

@media (min-width: 1150px) {
  .process {
    width: 1150px; }
  .process__wrapper {
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0;
    margin-bottom: 105px; }
  .process__image {
    width: 65%; }
  .process--part {
    width: 34%; }
  .process__title {
    padding: 96px 60px 10px 80px; }
  .process__title svg {
    top: 43px;
    left: 81px; }
  .process__desk {
    padding-left: 78px;
    padding-bottom: 48px; }
  .process__button {
    margin: 0 56px 0 81px; } }

.form {
  width: 320px;
  margin: 0 auto; }

.form__wrapper {
  margin: 0 30px;
  margin-top: 22px;
  margin-bottom: 55px; }

.form__desk {
  font-size: 13px;
  color: #444444;
  font-weight: 400;
  margin-bottom: 23px; }

.form-title {
  position: relative;
  font-size: 17px;
  line-height: 17px;
  color: #63d1bb;
  text-transform: uppercase;
  margin-bottom: 25px;
  overflow: hidden; }

.form-title::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 1px;
  background-color: #63d1bb;
  position: relative;
  margin-right: -100%;
  right: -25px; }

.lbl {
  font-size: 17px;
  line-height: 18px; }

.type-variety,
.color-variety,
.fio__variety {
  padding-left: 2px;
  margin-bottom: 30px; }

.type-radio,
.type-checkbox {
  display: none; }

.type-lbl,
.color-lbl {
  display: block;
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #444444;
  cursor: pointer;
  margin-bottom: 22px; }

.type-lbl:hover,
.type-lbl:focus,
.color-lbl:hover,
.color-lbl:focus {
  border-color: #62d1ba; }

.type-lbl:active,
.color-lbl:active {
  border-color: rgba(68, 68, 68, 0.3); }

.type-radio:checked + .type-lbl::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #63d1bb;
  cursor: pointer; }

.color-lbl {
  border-radius: 0; }

.color-variety .lbl-name {
  padding-top: 10px; }

.type-checkbox:checked + .color-lbl::before {
  position: absolute;
  content: "";
  top: 0;
  left: 9px;
  width: 19px;
  height: 30px;
  background-image: url("../img/icon-tick.svg");
  background-position: center;
  background-repeat: no-repeat; }

.type-text,
.contacts-text {
  outline: none;
  width: 100%;
  border: none;
  border-bottom: 2px solid #444444;
  padding-top: 16px;
  padding-bottom: 16px; }

.type-text:hover,
.contacts-text:hover {
  border-bottom-color: #62d1ba; }

.type-text:active,
.contacts-text:active,
.type-text:focus,
.contacts-text:focus {
  border-bottom: 1px solid #62d1ba; }

.fio__desk {
  margin-top: 29px; }

.fio-name {
  display: block;
  margin-top: 21px; }

.contact-part--1,
.contact-part--2 {
  position: relative; }

.contacts-icon {
  position: absolute;
  right: 5px;
  top: 35px; }

.contacts-text:hover + .contacts-icon svg path {
  fill: #62d1ba; }

.contacts-text:focus .contacts-icon svg path,
.contacts-text:active .contacts-icon svg path {
  fill: #62d1ba; }

.contact-part {
  margin-bottom: 6px; }

.contact-part--2 {
  margin-top: 31px;
  margin-bottom: 31px; }

.textarea {
  width: 100%;
  height: 143px;
  padding: 13px;
  border: 2px solid black;
  resize: none;
  box-sizing: border-box; }

.textarea:hover,
.textarea:focus,
.textarea:active {
  border-color: #62d1ba; }

.lbl-name {
  display: block;
  padding-left: 60px;
  padding-top: 6px;
  width: 225px; }

.down-page {
  display: flex;
  flex-direction: column; }

.form-button {
  order: 2;
  width: 100%;
  background-color: #ffffff; }

.required {
  display: block;
  order: 1;
  padding-top: 8px;
  padding-bottom: 31px;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
  font-weight: 400; }

@media (min-width: 768px) {
  .form {
    width: auto;
    margin: 0; }
  .form__wrapper {
    width: 768px;
    margin: 0 auto;
    margin-top: 80px; }
  .form__desk {
    font-size: 17px;
    line-height: 30px;
    padding: 0 50px;
    margin-bottom: 0; }
  .type-variety, .color-variety, .fio__variety {
    width: 75%;
    padding-left: 0;
    margin-bottom: 0; }
  .form-part {
    display: flex;
    padding: 35px 50px 25px; }
  .form-part:nth-child(2n) {
    background-color: #f1f1f1; }
  .type {
    padding-top: 40px; }
  .form-title {
    width: 25%;
    padding-top: 33px;
    margin-top: 0;
    margin-bottom: 0; }
  .form-title::after {
    background-color: transparent; }
  .type-lbl, .color-lbl {
    margin-bottom: 24px; }
  .type-lbl, .color-lbl {
    width: 49px;
    height: 49px; }
  .type-radio:checked + .type-lbl::before {
    width: 21px;
    height: 21px; }
  .lbl-name {
    padding-left: 76px;
    padding-top: 13px;
    width: 380px;
    font-size: 19px;
    line-height: 19px; }
  .color-variety .lbl-name {
    padding-top: 13px;
    width: 173px; }
  .color-variety {
    width: 75%;
    padding-top: 17px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .color-group {
    margin: 0;
    width: 52%;
    height: 75px; }
  .color-group:nth-child(2n) {
    width: 48%; }
  .type-checkbox:checked + .color-lbl::before {
    width: 31px;
    height: 51px; }
  .fio-name {
    font-size: 19px;
    line-height: 19px;
    padding-right: 25px; }
  .fio__desk {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 5px; }
  .fio-lbl {
    display: flex;
    margin-bottom: 17px; }
  .type-text, .contacts-text {
    font-size: 19px;
    line-height: 19px;
    padding: 16px 30px 16px 17px; }
  .contacts-info {
    flex-direction: column; }
  .contact-part--1, .contact-part--2 {
    display: flex; }
  .contact-part {
    width: 36%; }
  .contacts-text {
    margin-top: 8px;
    background-color: transparent; }
  .contacts-icon {
    right: 27px;
    top: 25px; }
  .contact-part--2 {
    margin-top: 9px;
    margin-bottom: 25px; }
  .textarea {
    font-size: 19px;
    line-height: 19px;
    margin-top: 15px;
    margin-left: 40px; }
  .down-page {
    padding: 28px 50px 31px;
    flex-direction: row;
    justify-content: space-between; }
  .form-button {
    order: 1;
    width: 34%;
    height: 50px; }
  .required {
    font-size: 17px;
    line-height: 30px;
    order: 2; } }

@media (min-width: 1150px) {
  .form__wrapper {
    width: 1150px;
    margin-top: 123px; }
  .form__desk {
    width: 700px;
    margin: 0 auto; }
  .form-title {
    width: 110px;
    padding-left: 65px; }
  .color-group {
    width: 260px; }
  .color-group:nth-child(2n) {
    width: 260px; }
  .fio__variety {
    width: 700px; }
  .contacts-text {
    width: 655px; }
  .contacts-icon {
    right: 175px; }
  .textarea {
    width: 700px;
    margin-left: 0; }
  .down-page {
    width: 700px;
    margin: 0 auto;
    padding-top: 22px; }
  .form-button {
    width: 33%; } }

.page__footer {
  width: 320px;
  margin: 0 auto;
  background-color: #f1f1f1; }

.page__footer__wrapper {
  padding: 0 30px; }

.page__footer__logo {
  display: none; }

.page__footer__logo:focus svg path,
.page__footer__logo:hover svg path,
.social__link:focus svg path,
.social__link:hover svg path,
.copyright__logo:focus svg path,
.copyright__logo:hover svg path {
  fill: #46c1ae; }

.page__footer__logo:active svg path,
.social__link:active svg path,
.copyright__logo:active svg path {
  fill: #46c1ae;
  opacity: 0.3; }

.social__list {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: 0;
  list-style: none;
  padding: 22px 0 20px;
  text-align: center;
  border-bottom: 1px solid #e5e5e5; }

.social__item {
  display: block;
  width: 60px;
  height: 30px; }

.page__footer__copyright {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 22px 22px 26px; }

.copyright__link {
  font-size: 19px;
  line-height: 19px; }

.copyright__logo {
  height: 30px; }

@media (min-width: 768px) {
  .page__footer {
    width: auto;
    margin: 0;
    background-color: #f1f1f1; }
  .page__footer__wrapper {
    width: 668px;
    padding: 32px 50px 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .page__footer__logo {
    display: block;
    width: 33.3%; }
  .page__footer__social {
    width: 33.3%; }
  .social__list {
    border: none; }
  .page__footer__copyright {
    justify-content: space-between;
    width: 33.3%;
    padding: 0; }
  .copyright__link {
    padding-left: 38px; } }

@media (min-width: 1150px) {
  .page__footer__wrapper {
    width: 1050px;
    padding: 32px 50px 30px;
    margin: 0 auto; }
  .copyright__link {
    padding-left: 165px; } }

.modal {
  position: fixed;
  top: 20%;
  display: none;
  z-index: 90;
  width: 320px;
  margin: 0 auto;
  border-top: 1px solid #c6c6c6;
  box-shadow: 5px 15px 25px -20px #000101;
  background-color: #ffffff; }

.modal__wrapper {
  margin: 30px 30px 45px; }

.modal__title,
.modal__desk {
  width: 150px;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  margin: 0 auto; }

.modal__title {
  text-transform: uppercase; }

.modal__desk {
  font-size: 15px;
  font-weight: 400;
  color: #444444;
  margin-top: 11px;
  margin-bottom: 22px; }

.modal__choose {
  display: flex;
  justify-content: space-between; }

.input-radio {
  display: none;
}
.choose {
  font-size: 17px;
  line-height: 17px;
  color: #444444;
  border: 2px solid rgba(68, 68, 68, 0.1);
  padding: 15px 33px; }

.choose:hover,
.choose:focus {
  border-color: rgba(68, 68, 68, 0.3); }

.input-radio:checked+.choose {
  border-color: #63d1bb; }

.modal__button {
  width: 260px;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  background-color: #63d1bb;
  border: none;
  margin-top: 32px;
  padding: 17px; }

.modal-show {
  display: block;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s; }

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px); }
  70% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px); }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px); }
  70% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px); }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

.podl-1 {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.1); }

@media (min-width: 768px) {
  .modal {
    width: 570px;
    box-shadow: 0px 5px 20px -5px #000001; }
  .modal__wrapper {
    margin: 34px 110px 45px; }
  .modal__title {
    width: 355px;
    font-size: 30px;
    line-height: 57px; }
  .modal__desk {
    width: 160px;
    font-size: 17px;
    margin-top: 14px; }
  .choose {
    padding: 16px 49px; }
  .modal__button {
    width: 350px; } }
