body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: #111111;
  font-size: 14px;
  line-height: 18px;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-nav {
  position: relative;
  width: auto;
  min-height: 60px;
}

.main-nav__logo {
  height: 65px;
}

.main-nav__logo:hover,
.main-nav__logo:focus {
  opacity: 0.8;
}

.main-nav__logo:active {
  opacity: 0.6;
}

.main-nav__logo-image {
  width: 33px;
  height: 38px;
  margin-bottom: 15px;
}

.main-nav__logo-text {
  margin: 23px 0 21px 55px;
}

.main-nav__toggle {
  position: absolute;
  top: 23px;
  right: 0;
  display: block;
  width: 24px;
  height: 24px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}

.main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #000000;
}

.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}

.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}

.main-nav--opened .main-nav__wrapper {
  display: block;
}

.main-nav--closed .main-nav__wrapper {
  display: none;
}

.page-header {
  width: 320px;
  margin: 0 auto;
  border-bottom: 1px solid #ededed;
}

.page-header__wrapper {
  margin: 0 20px;
}

.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-list__item {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
  padding: 23px 0;
  margin: 0 -20px;
  border-top: 1px solid #cdcdcd;
}

.site-list__item a {
  text-transform: uppercase;
  color: #111111;
}

@media (min-width: 768px) {
  .main-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
  }
  .main-nav--closed .main-nav__wrapper {
    display: block;
  }
  .main-nav__toggle {
    display: none;
  }
  .main-nav__logo {
    width: 191px;
    padding-top: 4px;
    padding-left: 3px;
  }
  .main-nav__logo-text {
    display: none;
  }
  .main-nav__logo-image {
    width: auto;
    height: auto;
  }
  .page-header {
    width: 768px;
    margin: 0 auto;
    border: none;
  }
  .page-header__wrapper {
    margin: 0 30px;
  }
  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-top: 23px;
    margin-right: 17px;
    width: 516px;
  }
  .site-list__item {
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    margin-left: 55px;
    padding: 0 0 20px;
    border: none;
  }
  .site-list__item--active {
    position: relative;
  }
  .site-list__item--active::after {
    content: "";
    position: absolute;
    right: 2px;
    bottom: 12px;
    left: 0;
    height: 2px;
    background-color: #68b738;
  }
}

@media (min-width: 1300px) {
  .page-header {
    position: relative;
    width: 1300px;
    margin: 0 auto;
  }
  .page-header::after {
    content: "";
    position: absolute;
    top: -50px;
    left: 50%;
    width: 725px;
    height: 696px;
    z-index: 10;
    background-image: url("../img/index-background-desktop.jpg");
  }
  .page-header__wrapper {
    margin: 0 40px;
  }
  .main-nav {
    margin-top: 50px;
  }
  .site-list {
    width: 570px;
    position: relative;
    z-index: 100;
  }
  .site-list__item {
    font-size: 20px;
    margin-left: 55px;
  }
  .site-list__item::after {
    background-color: #ffffff;
  }
  .site-list__item:hover {
    opacity: 0.6;
  }
  .site-list__item:focus {
    opacity: 0.6;
  }
  .site-list__item:active {
    opacity: 0.3;
  }
  .site-list__item a {
    color: #ffffff;
  }
}

@media (min-width: 1300px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1300px) and (min-resolution: 144dpi), (min-width: 1300px) and (min-resolution: 1.5dppx) {
  .page-header::after {
    background-image: url("../img/index-background-desktop@2x.jpg");
  }
}

.food-programm {
  width: 320px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.food-programm__wrapper {
  min-height: 305px;
  background-image: url("../img/index-background-mobile.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .food-programm__wrapper {
    background-image: url("../img/index-background-mobile@2x.jpg") no-repeat 0 0;
  }
}

.food-programm__title {
  margin: 0;
  padding: 0;
  padding-top: 27px;
  padding-bottom: 23px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
}

.food-programm__slogan {
  margin: 0;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

.food-programm-icon {
  position: absolute;
  left: 20px;
  top: 170px;
}

.button {
  display: block;
  width: 280px;
  padding: 11px 0;
  margin: 0 auto;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background-color: #68b738;
  border: none;
}

.food-programm__button {
  margin-top: 305px;
}

.food-programm__button:hover,
.food-programm__button:focus {
  background-color: #5eaa2f;
}

.food-programm__button:active {
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}

@media (min-width: 768px) {
  .food-programm {
    width: 768px;
    min-height: 780px;
    margin: 0 auto;
  }
  .food-programm__wrapper {
    padding: 0 90px;
    margin: 0 30px;
    background-image: none;
    background-color: #ffffff;
  }
  .wrapper-up {
    background-image: none;
  }
  .food-programm__title {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    color: #000000;
    text-align: left;
    padding: 0;
    margin: 50px 0 4px 0;
    width: 415px;
  }
  .food-programm__slogan {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    text-align: left;
    padding: 38px 0 47px;
    width: 415px;
  }
  .food-programm__button {
    position: relative;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    padding: 17px 0;
    width: 245px;
    z-index: 100;
  }
  .food-programm-icon {
    left: 33px;
    top: 202px;
    z-index: 90;
  }
}

@media (min-width: 1300px) {
  .food-programm {
    width: 1300px;
    margin: 0 auto;
    min-height: 575px;
  }
  .food-programm__wrapper {
    margin: 0 40px;
    padding: 0 80px;
  }
  .food-programm__title {
    padding: 52px 0 4px 0;
  }
  .food-programm__slogan {
    padding-bottom: 52px;
    padding-top: 33px;
  }
  .food-programm-icon {
    left: 492px;
    top: -28px;
  }
}

.categories {
  width: 320px;
  margin: 0 auto;
}

.categories__wrapper {
  margin: 0 20px;
}

.categories__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.categories__item {
  position: relative;
  margin: 20px 0;
  padding: 20px;
  background-color: #f2f2f2;
}

.categories__item::before {
  position: absolute;
  top: 26px;
  left: 23px;
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #68b738;
}

.categories__item::after {
  content: "";
  position: absolute;
}

.categories__item--down-weight::after {
  top: 22px;
  left: 30px;
  width: 54px;
  height: 54px;
  background-image: url("../img/icon-cat-slim.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.categories__item--up-weight::after {
  top: 35px;
  left: 11px;
  width: 70px;
  height: 54px;
  background-image: url("../img/icon-cat-pro.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.categories__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  padding-left: 70px;
  padding-top: 10px;
  font-weight: 400;
}

.categories__intro {
  font-family: "Arial", sans-serif;
  padding: 30px 0 22px 0;
  margin: 0;
  color: #444444;
  border-bottom: 1px solid #cdcdcd;
}

.tablet-only {
  display: none;
}

.categories__link {
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
  color: #111111;
  text-transform: uppercase;
  padding-top: 19px;
  padding-right: 37px;
}

.categories__link::after {
  content: "";
  position: absolute;
  top: 22px;
  right: 0;
  width: 25px;
  height: 15px;
  background-image: url("../img/icon-right-arrow-long.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.categories__link:hover::after,
.categories__link:focus::after {
  position: absolute;
  content: "";
  width: 32px;
  height: 11px;
  background-image: url("../img/icon-right-arrow-long.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .categories {
    width: 768px;
    margin: 0 auto;
  }
  .categories__wrapper {
    margin: 0 30px;
  }
  .categories__item {
    margin: 30px 0;
    padding: 76px 280px 60px 52px;
  }
  .categories__item::before {
    top: 93px;
    left: 445px;
    width: 200px;
    height: 200px;
  }
  .categories__item--down-weight::after {
    top: 81px;
    left: 475px;
    width: 140px;
    height: 194px;
  }
  .categories__item--up-weight::after {
    top: 136px;
    left: 410px;
    width: 268px;
    height: 112px;
  }
  .categories__title {
    font-size: 36px;
    margin: 0;
    padding: 0;
  }
  .categories__intro {
    font-size: 16px;
    line-height: 24px;
    padding: 25px 0 55px;
    border: none;
  }
  .tablet-only {
    display: inline-block;
  }
  .categories__link {
    font-size: 20px;
    line-height: 20px;
    padding: 0;
    padding-right: 50px;
  }
  .categories__link::after {
    top: 5px;
  }
}

@media (min-width: 1300px) {
  .categories {
    width: 1300px;
    margin: 0 auto;
  }
  .categories__wrapper {
    margin: 0 40px;
  }
  .categories__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .categories__item {
    width: 475px;
    min-height: 235px;
    padding: 80px 45px 60px 50px;
  }
  .categories__item::before {
    top: 50px;
    left: 53px;
    width: 100px;
    height: 100px;
  }
  .categories__item--down-weight::after {
    top: 44px;
    left: 67px;
    width: 70px;
    height: 97px;
  }
  .categories__item--up-weight::after {
    top: 70px;
    left: 35px;
    width: 134px;
    height: 56px;
  }
  .categories__title {
    padding-left: 165px;
  }
  .categories__intro {
    padding: 72px 0 30px;
  }
  .tablet-only {
    display: none;
  }
}

.advantages {
  width: 320px;
  margin: 0 auto;
}

.advantages__wrapper {
  margin: 0 20px 22px 20px;
}

.advantages__title {
  margin: 0;
  padding-bottom: 25px;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  display: flex;
  margin-bottom: 20px;
}

.advantages__item::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-size: 50px 50px;
  background-color: #68b738;
  background-position: center;
  background-repeat: no-repeat;
}

.advantages__intro {
  font-family: "Arial", sans-serif;
  padding-left: 20px;
  padding-top: 2px;
  margin: 0;
  width: 200px;
  color: #444444;
}

.advantages__item--health::before {
  background-image: url("../img/advantage-1.png");
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .advantages__item--health::before {
    background-image: url(../img/advantage-1@2x.png);
  }
}

.advantages__item--cook::before {
  background-image: url("../img/advantage-2.png");
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .advantages__item--cook::before {
    background-image: url(../img/advantage-2@2x.png);
  }
}

.advantages__item--replace::before {
  background-image: url("../img/advantage-3.png");
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .advantages__item--replace::before {
    background-image: url(../img/advantage-3@2x.png);
  }
}

.advantages__item--change::before {
  background-image: url("../img/advantage-4.png");
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .advantages__item--change::before {
    background-image: url(../img/advantage-4@2x.png);
  }
}

@media (min-width: 768px) {
  .advantages {
    width: 768px;
    margin: 0 auto;
    border-bottom: 1px solid #cdcdcd;
  }
  .advantages__wrapper {
    margin: 0 30px;
  }
  .advantages__list {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    min-height: 600px;
  }
  .advantages__title {
    font-size: 60px;
    line-height: 60px;
    padding-top: 15px;
    padding-bottom: 70px;
  }
  .advantages__item {
    position: relative;
    flex-direction: column;
    min-height: 283px;
    font-size: 16px;
    line-height: 24px;
    width: 324px;
    margin: 0;
    counter-increment: section;
  }
  .advantages__item::before {
    width: 80px;
    height: 80px;
  }
  .advantages__item::after {
    position: absolute;
    top: 90px;
    left: 113px;
    z-index: -1;
    content: counter(section);
    font-size: 281px;
    font-family: "Oswald", "Arial", sans-serif;
    color: #f2f2f2;
  }
  .advantages__intro {
    width: 245px;
    padding: 33px 0;
    margin: 0;
  }
}

@media (min-width: 1300px) {
  .advantages {
    width: 1300px;
    margin: 0 auto;
    border: none;
  }
  .advantages__wrapper {
    margin: 0 40px;
  }
  .advantages__list {
    min-height: 245px;
  }
  .advantages__item {
    width: 245px;
  }
  .advantages__title {
    padding-top: 45px;
  }
}

.example {
  width: 320px;
  margin: 0 auto;
  background-color: #f2f2f2;
}

.example__wrapper {
  margin: 41px 20px 0 20px;
}

.example__title {
  margin: 0;
  padding-top: 17px;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

.example__desc {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 25px 1px 25px 0;
  color: #444444;
}

.example__result {
  display: flex;
  justify-content: space-between;
}

.result-info {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
  width: 122px;
  height: 54px;
  font-family: "Arial", sans-serif;
  border: 1px solid #cdcdcd;
}

.result-info__value {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.result-info__info {
  position: absolute;
  top: 46px;
  width: 65px;
  padding: 0 10px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #444444;
  background-color: #f2f2f2;
}

.example__cost {
  margin: 0;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.example__live {
  padding-bottom: 20px;
}

.slider__toggle {
  display: none;
}

.slider__image1 {
  width: auto;
  height: 232px;
  margin-top: 37px;
  display: none;
  background-image: url("../img/before-mobile.png");
  background-repeat: no-repeat;
  background-position: -20px 0;
}

.slider__image2 {
  width: auto;
  height: 232px;
  margin-top: 37px;
  display: none;
  background-image: url("../img/after-mobile.png");
  background-repeat: no-repeat;
  background-position: 20px 0;
}

.slider__control {
  display: flex;
  justify-content: space-between;
  width: 198px;
  margin-left: 43px;
  margin-top: 21px;
}

.slider__text {
  text-transform: uppercase;
  font-size: 16px;
}

.slider__bar {
  display: flex;
  margin: auto;
  width: 84px;
  height: 12px;
  border-radius: 7px;
  background-color: #ffffff;
  border: 1px solid silver;
}

.slider__tog {
  margin: auto;
  background-color: #ffffff;
  width: 35px;
  height: 6px;
  border-radius: 3px;
}

.slider__tog::before {
  display: flex;
  content: "";
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: #68b738;
  cursor: pointer;
  transform: scale(0);
  transition: .4s;
}

.slider__toggle--1:checked ~ .slider__slides .slider__image1,
.slider__toggle--2:checked ~ .slider__slides .slider__image2 {
  display: block;
}

.slider__toggle--1:checked ~ .slider__control > .slider__bar .slider__tog--1::before,
.slider__toggle--2:checked ~ .slider__control > .slider__bar .slider__tog--2::before {
  transform: scale(1);
}

@media (min-width: 768px) {
  .example {
    width: 768px;
    margin: 0 auto;
    background-color: #ffffff;
  }
  .example__wrapper {
    position: relative;
    margin: 45px 0;
  }
  .example--left {
    padding: 0 30px;
  }
  .example__result {
    width: 367px;
  }
  .example__title {
    padding: 0;
    font-size: 60px;
    line-height: 60px;
  }
  .example__desc {
    font-size: 16px;
    line-height: 24px;
    padding: 65px 0px 52px;
  }
  .result-info__value {
    font-size: 30px;
    line-height: 37px;
  }
  .result-info__info {
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
  }
  .example__cost {
    position: absolute;
    right: 30px;
    top: 260px;
    width: 180px;
    text-align: right;
    font-size: 20px;
    line-height: 20px;
  }
  .example__cost--desk {
    display: inline-block;
    padding-bottom: 10px;
  }
  .result-info {
    width: 160px;
    height: 72px;
  }
  .result-info__info {
    width: auto;
    top: 64px;
  }
  .example__live {
    position: relative;
    display: flex;
    width: 768px;
    height: 443px;
    background: linear-gradient(to right, #f2f2f2 50%, #eaeaea 50%);
    margin-top: 218px;
  }
  .slider {
    width: 768px;
    height: 631px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: -168px;
  }
  .slider__slides {
    width: 768px;
    height: 462px;
    position: relative;
    margin-top: auto;
  }
  .slider__image1,
  .slider__image2 {
    position: absolute;
    margin-top: 0;
    bottom: 0;
    display: block;
    width: 768px;
    height: 631px;
    z-index: 10;
  }
  .slider__image1 {
    background-image: url("../img/before-tablet.png");
    background-position: 45px 0;
    clip: rect(auto, 385px, auto, auto);
  }
  .slider__image2 {
    background-image: url("../img/after-tablet.png");
    clip: rect(auto, auto, auto, 385px);
    background-position: 45px 0;
  }
  .slider__control {
    margin-left: 97px;
    width: 571px;
    z-index: 100;
    position: absolute;
    bottom: 50px;
  }
  .slider__text {
    font-size: 20px;
    border-bottom: 1px dashed #b8b8b8;
    padding-bottom: 5px;
  }
  .slider__text:hover,
  .slider__text:focus {
    border-bottom: 1px solid #b8b8b8;
  }
  .slider__text:active {
    border-bottom: none;
  }
  .slider__bar {
    width: 434px;
    height: 6px;
    border-right: 3px;
    border: 0;
    background-color: #dcdcdc;
    position: relative;
    margin-top: 26px;
  }
  .slider__tog:hover,
  .slider__tog:focus {
    box-shadow: 0 1px 3px #111111;
  }
  .slider__tog:active {
    border: 1px solid #68b738;
  }
  .slider__tog--1 {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #dcdcdc;
    top: -14px;
    position: relative;
    left: 2px;
    cursor: pointer;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.15);
  }
  .slider__tog--1::before {
    position: absolute;
    display: block;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #68b738;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }
  .slider__tog--2 {
    display: none;
  }
}

@media (min-width: 1300px) {
  .example {
    width: auto;
    margin: 0;
    background: linear-gradient(to right, #f2f2f2 70%, #eaeaea 30%);
  }
  .example__wrapper {
    width: 1220px;
    display: flex;
    padding: 0 40px 0;
    margin: 0 auto;
    margin-top: 160px;
    background: linear-gradient(to right, #f2f2f2 70%, #eaeaea 30%);
  }
  .example--left {
    padding: 0;
  }
  .example__live {
    width: 768px;
    margin-top: 0;
    background: linear-gradient(to right, #f2f2f2 58%, #eaeaea 59%);
  }
  .example--left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-height: 462px;
    margin: 0;
    background-color: #f2f2f2;
    width: 570px;
  }
  .example__title {
    padding: 30px 0 146px;
    margin: -165px 0 0 0;
  }
  .example__desc {
    padding: 0 0 70px;
  }
  .example__cost {
    display: inline-flex;
    justify-content: space-between;
    left: 40px;
    top: 370px;
    width: 325px;
  }
  .example__desc {
    width: 435px;
  }
  .result-info {
    height: 70px;
  }
  .result-info__info {
    top: 65px;
    background-color: #f2f2f2;
  }
  .slider {
    width: 690px;
    margin: -190px 0 0;
    height: 652px;
  }
  .slider__image1 {
    background-position: 45px 0;
    clip: rect(auto, 410px, auto, auto);
  }
  .slider__image2 {
    background-position: 45px 0;
    clip: rect(auto, auto, auto, 410px);
  }
  .slider__control {
    margin-left: 125px;
  }
}

@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .slider__image-1 {
    background-image: url(../img/before-tablet@2x.png) no-repeat;
  }
  .slider__image-2 {
    background-image: url(../img/after-tablet@2x.png) no-repeat;
  }
}

.contacts {
  width: 320px;
  margin: 0 auto;
}

.contacts__wrapper {
  padding: 18px 20px 0;
}

.contacts__card {
  display: flex;
  justify-content: space-between;
  padding: 8px 0 25px 0;
}

.contacts__slogan {
  width: 140px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

.contacts__address {
  width: 140px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  margin: 0;
}

.contacts__map {
  position: relative;
  height: 363px;
}

.contacts__address--br {
  display: none;
}

.contacts__map img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 363px;
  margin: 0;
}

.contacts__map iframe {
  position: relative;
  z-index: 2;
  border: none;
}

@media (min-width: 768px) {
  .contacts {
    width: auto;
  }
  .contacts__wrapper {
    min-width: 708px;
    padding: 0 30px;
    margin: 0 auto;
    position: relative;
  }
  .contacts__card {
    width: 625px;
    padding: 20px 41px 56px;
    margin: 0 auto;
    background-color: #ffffff;
  }
  .contacts__slogan {
    width: 160px;
    font-size: 20px;
    line-height: 25px;
  }
  .contacts__address {
    width: 160px;
    text-align: right;
    font-size: 16px;
  }
  .contacts__address--br {
    display: block;
  }
  .contacts__map {
    width: 100%;
    margin: 0;
    min-height: 400px;
  }
  .contacts__map iframe {
    width: 100%;
    height: 400px;
  }
  .contacts__map img {
    width: 100%;
    height: 400px;
    background-size: cover;
  }
}

@media (min-width: 1300px) {
  .contacts {
    width: auto;
  }
  .contacts__wrapper {
    width: 1220px;
    padding: 0 40px;
    position: relative;
  }
  .contacts__card {
    position: absolute;
    top: 100px;
    width: 410px;
    padding: 65px 85px 55px 80px;
    background-color: #ffffff;
    z-index: 200;
  }
  .contacts__address {
    text-align: left;
  }
  .contacts__map iframe {
    height: 400px;
  }
}

@media (min-width: 1300px) {
  .inner-header .site-list__item::after {
    background-color: #68b738;
  }
}

.inner-header .page-header::after {
  position: relative;
  background-image: none;
}

.inner-header .site-list__item a {
  color: #000000;
}

.catalog {
  width: 320px;
  margin: 0 auto;
}

.catalog__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  padding: 14px 20px 29px;
  margin: 0;
  border-bottom: 1px solid #ededed;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__item {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  border-bottom: 1px solid #ededed;
}

.catalog__flex {
  width: 140px;
  min-height: 145px;
}

.catalog__item__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
  padding-top: 21px;
  padding-bottom: 10px;
  width: 80px;
  text-transform: uppercase;
}

.catalog__desk {
  width: 140px;
  border-collapse: collapse;
}

.catalog__value,
.catalog__field {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  padding: 1px 0;
  color: #444444;
}

.catalog__value {
  text-align: left;
}

.catalog__field {
  text-align: right;
}

.catalog__button {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 23px;
}

.show-more__icon {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("../img/icon-plus-mobile.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.2;
  margin: 25px auto;
}

.show-more__title {
  width: 280px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.show-more_desk {
  width: 280px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
  margin: 0;
  padding: 7px 0 21px;
}

.catalog__button--all {
  font-size: 16px;
  line-height: 20px;
  background-color: #f2f2f2;
  color: #444444;
  margin-bottom: 23px;
}

.catalog__button--all:hover,
.catalog__button--all:focus {
  background-color: #ebebeb;
}

.catalog__button--all:active {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .catalog {
    width: 768px;
    margin: 0 auto;
  }
  .catalog__wrapper {
    margin: 0 30px;
  }
  .catalog__title {
    font-size: 60px;
    line-height: 60px;
    padding: 50px 0 25px;
    border-bottom: none;
  }
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .catalog__item {
    position: relative;
    flex-direction: column;
    width: 250px;
    min-height: 225px;
    padding: 0;
    margin-top: 140px;
    padding: 160px 37px 40px;
    background-color: #f2f2f2;
    border: none;
  }
  .catalog__flex {
    width: 250px;
  }
  .catalog__logo-img {
    position: absolute;
    bottom: 304px;
    left: 2px;
  }
  .catalog__item__title {
    font-size: 20px;
    text-align: center;
    width: 130px;
    padding: 0;
    margin: auto;
    padding-bottom: 18px;
  }
  .catalog__desk {
    width: 250px;
  }
  .catalog__value,
  .catalog__field {
    font-size: 16px;
    line-height: 16px;
    padding: 8px 0;
    border-bottom: 1px solid #cdcdcd;
  }
  .catalog__button {
    width: 250px;
    margin: 0;
    margin-top: 32px;
  }
  .show-more {
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
  }
  .show-more__icon {
    position: absolute;
    top: 27px;
    left: 133px;
    content: "";
    width: 60px;
    height: 60px;
  }
  .show-more__title {
    width: 135px;
    font-size: 20px;
    margin: 0 auto;
  }
  .show-more_desk {
    width: 175px;
    font-size: 16px;
    line-height: 18px;
    margin: 0 auto;
    padding: 28px 0 85px;
  }
  .catalog__button--all {
    width: 250px;
    margin: 0;
  }
}

@media (min-width: 1300px) {
  .catalog {
    width: 1300px;
    margin: 0 auto;
  }
  .catalog__wrapper {
    margin: 0 40px;
  }
  .catalog__title {
    padding-top: 75px;
  }
  .catalog__item {
    width: 170px;
    padding: 164px 38px 40px;
  }
  .catalog__flex {
    width: 170px;
  }
  .catalog__logo-img {
    bottom: 304px;
    left: 2px;
  }
  .catalog__desk {
    width: 170px;
  }
  .catalog__button {
    width: 170px;
    margin: 0;
    margin-top: 32px;
  }
  .show-more_desk {
    width: 170px;
  }
  .show-more__icon {
    top: 30px;
    left: 95px;
  }
  .catalog__button--all {
    width: 170px;
  }
}

.extra {
  width: 320px;
  margin: 0 auto;
}

.extra__wrapper {
  margin: 0 20px;
}

.extra__title {
  position: relative;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  padding: 27px 0 33px 0;
  border-bottom: 1px solid #ededed;
}

.extra__title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -20px;
  width: 53px;
  height: 3px;
  background-color: #68b738;
}

.extra__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.extra__item {
  padding: 15px 0;
  border-bottom: 1px solid #ededed;
}

.extra__item__title {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 11px;
}

.extra__desk {
  display: flex;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  margin: 0;
}

.extra__button {
  font-size: 16px;
  line-height: 20px;
  margin-top: 15px;
}

.extra__desk--2 {
  margin-left: auto;
}

.extra__prise {
  min-height: 289px;
  margin-top: 40px;
  text-align: center;
  background-image: url("../img/gift-photo-mobile.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #68b738;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .extra__prise {
    background-image: url("../img/gift-photo-mobile@2x.jpg") no-repeat 0 0;
  }
}

.extra__prise__desk {
  position: relative;
  width: 170px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;
  padding-top: 188px;
  color: #ffffff;
}

.extra__prise__desk::after {
  position: absolute;
  content: "";
  top: 65px;
  left: 58px;
  width: 55px;
  height: 60px;
  background-image: url("../img/icon-gift.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .extra {
    width: 768px;
    margin: 0 auto;
  }
  .extra__wrapper {
    margin: 0 30px;
  }
  .extra__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 632px;
    padding: 25px 38px;
    margin-bottom: -1px;
    border: 1px solid #cdcdcd;
  }
  .extra__title {
    font-size: 36px;
    line-height: 36px;
    padding: 66px 35px 79px;
    border-bottom: none;
  }
  .extra__title::after {
    top: 50%;
    right: -30px;
    width: 327px;
    height: 4px;
    background-color: #68b738;
  }
  .extra__item__title {
    font-size: 20px;
    line-height: 20px;
  }
  .extra__desk {
    margin: 5px 0;
    font-size: 16px;
    line-height: 20px;
  }
  .extra__desk--2 {
    width: 45px;
    text-align: right;
    margin-left: 50px;
  }
  .extra__button {
    width: 632px;
  }
  .extra__prise {
    min-height: 200px;
    margin-top: 70px;
    text-align: left;
    background-image: url("../img/gift-photo-tablet.jpg");
  }
  .extra__prise__desk {
    margin: 0;
    padding: 74px 0 0 422px;
  }
  .extra__prise__desk::after {
    left: 90px;
  }
}

@media (min-width: 1300px) {
  .extra {
    width: 1300px;
    margin: 0 auto;
  }
  .extra__wrapper {
    margin: 0 40px;
  }
  .desktop-flex {
    display: flex;
    justify-content: space-between;
  }
  .extra__item {
    width: 895px;
    padding: 20px 0 11px;
    border-left: none;
    border-right: none;
  }
  .extra__title {
    padding: 74px 0 79px;
  }
  .extra__title::after {
    top: 50%;
    right: -40px;
    width: 890px;
    height: 4px;
    background-color: #68b738;
  }
  .extra__item__title {
    width: 325px;
    padding-top: 8px;
  }
  .extra__button {
    width: 245px;
    height: 30px;
    padding: 10px 0 0;
    margin: 0;
    margin-top: -5px;
  }
  .extra__desk {
    width: 325px;
    margin: 10px 0;
  }
  .extra__desk--2 {
    width: auto;
    text-align: right;
    margin: auto;
    margin-right: 40px;
  }
  .extra__prise {
    min-height: 249px;
    margin: 0;
    background-image: url("../img/gift-photo-desktop.jpg");
  }
  .extra__prise__desk {
    margin: 0;
    text-align: center;
    padding: 188px 38px 0 40px;
  }
  .extra__prise__desk::after {
    left: 100px;
  }
}

@media (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 1300px), (min-resolution: 144dpi) and (min-width: 1300px), (min-resolution: 1.5dppx) and (min-width: 1300px) {
  .extra__prise {
    background-image: url("../img/gift-photo-desktop@2x.jpg");
  }
}

.inner-header .contacts {
  background-color: #f2f2f2;
}

.inner-header .contacts__wrapper {
  margin-top: 35px;
}

@media (min-width: 768px) {
  .inner-header .contacts__wrapper {
    margin-top: 75px;
  }
  .inner-header .contacts__card {
    padding-top: 68px;
    background-color: #f2f2f2;
  }
}

@media (min-width: 1300px) {
  .inner-header .contacts__wrapper {
    margin-top: 87px;
  }
  .inner-header .contacts__card {
    background-color: #ffffff;
  }
}

.programm {
  width: 320px;
  margin: auto;
}

.programm__wrapper {
  margin: 0 20px;
}

.programm__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  margin: 0;
  padding: 15px 0px 27px;
}

.programm__desk {
  width: 270px;
  text-transform: uppercase;
  margin: 0;
}

label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder,
textarea::placeholder {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.quest__field {
  border: none;
  padding: 37px 0 10px 0;
  margin: 0;
}

.quest__group {
  margin: 0;
  margin-bottom: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quest__input {
  padding: 14px 15px;
  margin-left: 15px;
  flex-grow: 1;
  border: 1px solid #e6e6e6;
}

.quest__input:focus {
  border: 1px solid #444444;
  outline: 0;
}

.quest__input:focus + .svg__mail path,
.quest__input:focus + .svg__tel path {
  fill: #68b738;
}

.quest__input:hover {
  border: 1px solid #cdcdcd;
  outline: 0;
}

.quest__input:invalid {
  border-color: #ff8282;
  outline: 0;
}

.quest__input:invalid + .svg__mail path,
.quest__input:invalid + .svg__tel path {
  fill: #ff8282;
}

.quest__variety {
  padding: 20px 0 10px;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  margin-bottom: 13px;
}

.quest__group--2 {
  justify-content: flex-start;
  margin: 0;
}

.quest__radio {
  display: none;
}

.quest__name {
  display: block;
  padding-left: 45px;
  padding-top: 6px;
  width: 235px;
}

.quest__lbl {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #e6e6e6;
  cursor: pointer;
  margin-bottom: 10px;
}

.quest__lbl:hover,
.quest__lbl:focus,
.dop__lbl:hover,
.dop__lbl:focus {
  border-color: #bababa;
}

.quest__lbl:active,
.dop__lbl:active {
  opacity: 0.3;
}

.quest__radio:checked ~ .quest__lbl::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: "";
  width: 12px;
  height: 12px;
  background-color: #68b738;
  border-radius: 50%;
}

.quest__variety--1 {
  border: none;
  padding: 0;
}

.quest__title {
  position: relative;
  width: 100%;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  padding: 15px 0 35px;
}

.quest__input--mail,
.quest__input--tel {
  padding-right: 40px;
}

.svg__mail {
  margin-left: -35px;
  padding-right: 18px;
}

.svg__tel {
  margin-left: -35px;
  padding-right: 15px;
}

textarea {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 13px 10px;
  border: 1px solid #cdcdcd;
}

.quest__check {
  display: none;
}

.dop__lbl {
  position: relative;
  width: 28px;
  height: 28px;
  border: 1px solid #cdcdcd;
  cursor: pointer;
  margin-bottom: 13px;
}

.quest__check:checked ~ .dop__lbl::before {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  content: "";
  background: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 21px;
  height: 16px;
}

.quest__btn {
  font-size: 16px;
  line-height: 20px;
  margin-top: 19px;
}

.quest__warn {
  margin: 0;
  padding-top: 15px;
  text-align: center;
  font-family: "Arial", sans-serif;
}

@media (min-width: 768px) {
  .programm {
    width: 768px;
    margin: 0 auto;
  }
  .programm__wrapper {
    margin: 0 30px;
  }
  .programm__title {
    font-size: 60px;
    padding: 50px 0 55px;
  }
  .programm__desk {
    font-size: 20px;
    line-height: 30px;
    width: 340px;
    padding-left: 40px;
  }
  .programm__quest {
    padding: 0 35px 0 40px;
  }
  label {
    font-size: 20px;
    line-height: 20px;
  }
  input[type="text"]::placeholder,
  input[type="email"]::placeholder,
  input[type="tel"]::placeholder,
  textarea::placeholder {
    font-size: 20px;
    line-height: 20px;
  }
  .quest__title {
    position: relative;
    font-size: 36px;
    line-height: 36px;
    padding-top: 30px;
    padding-bottom: 75px;
  }
  .quest__title::before {
    position: absolute;
    content: "";
    top: 50px;
    left: -70px;
    width: 30px;
    height: 3px;
    background-color: #68b738;
  }
  .dop__title {
    padding-bottom: 58px;
  }
  .quest__field {
    padding: 66px 0 55px 0;
  }
  .quest__group {
    margin-bottom: 18px;
  }
  .quest__input {
    padding: 18px 40px 18px 20px;
  }
  .quest__variety {
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 45px;
    border: 1px solid #ededed;
  }
  .quest__name {
    padding-left: 60px;
    padding-top: 10px;
  }
  .quest__group--2 {
    margin-bottom: 12px;
  }
  .quest__lbl {
    width: 40px;
    height: 40px;
    margin: 0;
  }
  .quest__radio:checked ~ .quest__lbl::before {
    width: 18px;
    height: 18px;
  }
  .quest__variety--1 {
    border: none;
    padding-bottom: 20px;
  }
  textarea {
    height: 145px;
    padding: 15px 20px;
  }
  .dop__lbl {
    width: 38px;
    height: 38px;
    margin-bottom: 19px;
  }
  .quest__flex {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
  }
  .quest__group--2 {
    width: 285px;
  }
  .quest__btn {
    font-size: 20px;
    height: 50px;
    margin: 0;
  }
  .submit {
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
  }
  .quest__warn {
    font-size: 16px;
    line-height: 16px;
    width: 285px;
    text-align: left;
  }
}

@media (min-width: 1300px) {
  .programm {
    width: 1300px;
    margin: 0 auto;
  }
  .programm__wrapper {
    margin: 0 40px;
  }
  .programm__title {
    padding-top: 65px;
  }
  .programm__desk {
    padding-left: 0;
  }
  .programm__quest {
    padding: 0;
  }
  .only-desk {
    display: flex;
    justify-content: space-between;
  }
  .quest__var {
    width: 570px;
    padding: 66px 0 55px 0;
  }
  .quest__title {
    padding-top: 0;
    padding-bottom: 70px;
  }
  .quest__title::before {
    top: 20px;
  }
  .contacts__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .dop__title {
    padding-top: 0;
  }
  .quest__group {
    width: 570px;
  }
  .quest__variety {
    width: 545px;
    padding-left: 25px;
    padding-top: 30px;
    padding-bottom: 0;
    margin-bottom: 70px;
    margin-top: 60px;
  }
  .quest__group--2 {
    width: 240px;
  }
  .quest__variety--1 {
    padding-bottom: 53px;
  }
  .area {
    width: 1220px;
  }
  textarea {
    width: 1220px;
    height: 150px;
  }
  .quest__btn {
    width: 570px;
  }
  .quest__var--1 {
    padding-bottom: 26px;
  }
  .submit {
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
  }
  .quest__warn {
    width: 570px;
  }
}

.page-footer {
  width: 320px;
  margin: 0 auto;
  background-color: #f2f2f2;
}

.page-footer__wrapper {
  padding: 40px 20px 33px 20px;
}

.page-footer__logo {
  text-align: center;
  display: block;
  padding-bottom: 25px;
}

.page-footer__logo:focus,
.page-footer__logo:hover {
  opacity: 0.8;
}

.page-footer__logo:active {
  opacity: 0.6;
}

.social {
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 20px 0;
  list-style: none;
}

.social__item {
  width: 22px;
  padding: 0 18px;
}

.social__link path {
  fill: #666666;
}

.social__link:hover path,
.social__link:focus path {
  fill: #68b738;
}

.social__link:active path {
  opacity: 0.3;
  fill: #68b738;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.copyright__link {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #444444;
}

.copyright__logo path {
  fill: #666666;
}

.copyright__logo:hover path,
.copyright__logo:focus path {
  fill: #68b738;
}

.copyright__logo:active path {
  fill: #68b738;
  opacity: 0.3;
}

.copyright__link:active {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .page-footer {
    width: auto;
    margin: 0;
  }
  .page-footer__logo {
    padding: 0;
  }
  .page-footer__wrapper {
    width: 708px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
  }
  .social {
    border-top: none;
    border-bottom: none;
  }
  .social__list {
    display: flex;
    border: none;
    padding: 0;
  }
  .social__item {
    padding: 0 17px;
  }
  .copyright__link {
    padding-right: 21px;
    padding-bottom: 10px;
  }
  .social__link--vkontakte svg {
    width: 30px;
    height: 16px;
  }
  .social__link--instagram svg {
    width: 23px;
    height: 23px;
  }
  .social__link--facebook svg {
    width: 14px;
    height: 28px;
  }
}

@media (min-width: 1300px) {
  .page-footer {
    width: auto;
    margin: 0;
  }
  .page-footer__wrapper {
    width: 1220px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
  }
}
