@font-face {
	font-family: "Source Serif Pro";
	src: url("../fonts/SourceSerifPro/SourceSerifPro-Light.otf");
	src: url("../fonts/SourceSerifPro/SourceSerifPro-Light.eot?#iefix")format("embedded-opentype"),
	url("../fonts/SourceSerifPro/SourceSerifPro-Light.ttf") format("truetype");
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: "Source Serif Pro";
	src: url("../fonts/SourceSerifPro/SourceSerifPro-Regular.otf");
	src: url("../fonts/SourceSerifPro/SourceSerifPro-Regular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/SourceSerifPro/SourceSerifPro-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Source Serif Pro";
	src: url("../fonts/SourceSerifPro/SourceSerifPro-Semibold.otf");
	src: url("../fonts/SourceSerifPro/SourceSerifPro-Semibold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/SourceSerifPro/SourceSerifPro-Semibold.ttf") format("truetype");
	font-style: normal;
	font-weight: 600;
}
@font-face {
	font-family: "Source Serif Pro";
	src: url("../fonts/SourceSerifPro/SourceSerifPro-Bold.otf");
	src: url("../fonts/SourceSerifPro/SourceSerifPro-Bold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/SourceSerifPro/SourceSerifPro-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: 700;
}
